<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Buscar</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="container">
    <app-busqueda (buscar)="MostrarElemento($event)"></app-busqueda>
    <div *ngIf="lista != null">
        <table border="1" style="width:100%">
            <thead>
                <th>ID</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Puertas</th>
                <th>Foto</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of lista">
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.modelo }}</td>
                        <td>{{ item.marca }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.cantidadPuertas }}</td>
                        <td>
                            <img [src]="item.RutaDeFoto" class="autoFoto" />
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>