<div class="container">
    <table class="table">
      <thead class="thead-primary">
        <th>ID #</th>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Rol</th>
        <th>Accion</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of lista | filterTable:'1'">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.mail }}</td>
            <td>{{ item.tipo | tipoUsuario }}</td>
            <td>
              <button (recargar)="recargarLista($event)" >Recargar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>