<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{actor.nombre + ' ' + actor.apellido}}</h1>
    <p class="lead"></p>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead class="thead-primary">
      <th>ID #</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Fecha Estreno</th>
      <th>Cantidad público</th>
      <th>Foto</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listado">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.fechaEstreno }}</td>
          <td>{{ item.cantidadPublico }}</td>
          <td>
            <img style="
                        width: 50px;" [src]="item.foto ? item.foto : 'assets/img/book.png'" class="autoFoto" />
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
